.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  flex: 0 0 120px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-iframe {
  border: none;
  flex: 1 1 auto;
}

.App-map {
  max-width: 100%;
  overflow: auto;
}

.App-zoom {
  margin-top: 10px;
}

.App-tabs {
  display: flex;
  flex: 0 0 auto;
}

.App-tab {
  flex: 1 1 auto;
  border-radius: 0;
  background: white;
  border: 1px solid black;
  padding: 5px;
}

.App-tab.active {
  background: lightblue;
  font-weight: bold;
}

@media only screen and (max-device-height: 700px) {
  .App-header {
    flex: 0 0 12px;
    padding: 0;
  }

  .App-title {
    font-size: 1em;
  }

  .App-logo {
    display: none;
  }
}
